
// base file contain files - the basic definition about our entire project

*,
*::after,
*::before {
  margin: 0; 
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

html {
  /* font-size: 10px; 1rem = 10px; 10px/16px = 62.5% */
  font-size: 62.5%;   // this defines what 1 rem is (global definition). Do not affect "rem" and "em" in media queries.


  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }
  // @media (max-width: 900px) {
  //   font-size: 70%;
  // }


  @include respond(tab-port) { 
    font-size: 50%;  // 1 rem = 8px (what we want), 8/16 = 50%
  }

  @include respond(tab-land) {  
    font-size: 56.25%;  // 1 rem = 9px, 9/16 = 56.25%
  }
  
  @include respond(phone) { 
    // font-size: 30%;  // 1 rem = 4.8px 
  }

  @include respond(big-desktop) {
    font-size: 75%;  // 1 rem = 12px, 12/16 = 75%
  }
}


body {
  // font-family: "Lato", sans-serif;
  // font-weight: 400;
  // /* font-size: 16px; */
  // line-height: 1.7;
  // color: $color-grey-dark;
  // padding: 3rem;
  box-sizing: border-box;
  padding: 3rem;
  
  @include respond(tab-port) { 
    padding: 0;
  }

  @include respond(phone) {
    padding: 0;
  }
}


// CHANGE THE TEXT AND NACKGROUND COLOR OF THE TEXT SELECTED
::selection {
  background-color: $color-primary;
  color: $color-white;
}